#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#body{
    color: #E0E0E0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030303;
    padding: 30px;
    z-index: 1;
}

#header img{
    width: 100px;
}

#headerLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#headerLinks a{
    text-decoration: none;
    color: white;
    position: relative;
}

#headerLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.3s ease;
}

#headerLinks a:hover::after {
  width: 100%;
}

#headerLinks button{
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    border: none;
}

.companyName a{
    text-decoration: none;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

